<link rel="stylesheet" href="/servicos/teste/view/style/style.css">
<nav>
  <div class="navegacao">
    <ul class="listanav">
      <li><a href="/servicos/teste/controller/index.php" class="primeiro">CRIAR</a></li>
      <li><a href="/servicos/teste/view/excluir.php" class="segundo">EXCLUIR</a></li>
      <li><a href="/servicos/teste/view/atualizar.php" class="terceiro">ATUALIZAR</a></li>
      <li>
        <button id="theme-toggle" class="theme-switcher" aria-label="Alternar tema">
          <span class="theme-icon-container">
            <img src="../img/sol.png" alt="Modo claro" class="theme-icon sun-icon">
            <img src="../img/lua-cheia.png" alt="Modo escuro" class="theme-icon moon-icon">
          </span>
        </button>
      </li>
    </ul>
  </div>
</nav>