<link rel="stylesheet" href="/servicos/teste/view/style/style.css">
<nav>
  <div class="navegacao">
    <ul class="listanavdash"> 
      <li><a href="/servicos/teste/view/login.php" class="segundo">LOGIN</a></li>
      <li>
        <button id="theme-toggle" class="theme-switcher" aria-label="Alternar tema">
          <span class="theme-icon-container">
            <img src="/servicos/teste/img/sol.png" alt="Modo claro" class="theme-icon sun-icon">
            <img src="/servicos/teste/img/lua-cheia.png" alt="Modo escuro" class="theme-icon moon-icon">
          </span>
        </button>
      </li>
    </ul>
  </div>
</nav>